body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.nav {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding: 10px;
  background-color: black;
}

.logo {
  font-size: 45px;
  font-weight: bold;
  font-family: Inter, sans-serif;
  color: #fdd247;
}
.logo a{
  color: #fdd247;
  text-decoration: none;
}
.logo a:hover{
  color: #e6c200;
  text-decoration: none;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: aliceblue; 
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline; 
  color: #e6c200;
}

.nav-item a.active {
  color: #fdd247;
}

.home {
  font-size: 24px;
  font-weight: bold;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.hello {
  color: #fdd247;
}

.title {
  font-size: 100px;
}

.sub-title {
  font-size: 45px;
}

.name {
  color: #fdd247;
}

.profile-pic {
  max-width: 600px;
  height: auto;
}

.aboutpage {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.about {
  font-size: 64px;
  font-weight: bold;
  color: #fdd247;
  margin-bottom: 20px;
}

.info-item {
  margin-bottom: 5px;
}

.heads {
  color: #fdd247;
  font-weight: bold;
}

.values {
  margin-left: 5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}

.info {
  flex: 1;
  padding: 0 20px;
}

.profile-pic-about {
  margin-right: 151px;
  margin-left: -330px;
  max-width: 600px;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.input {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.message-input {
  height: 150px;
  resize: none;
}

.submit-button {
  background-color: #fdd247;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #e6c200;
}

.contactMe {
  color: #fdd247;
}
