body {
  margin: 0;
  font-family: 'Inter';
  background-color: black;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.nav {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding: 10px;
}

.logo {
  font-size: 45px;
  font-weight: bold;
  font-family: Inter;
  color: #fdd247
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: aliceblue; /* Original color */
  text-decoration: none; /* Remove underline */
}

.nav-item a:hover {
  text-decoration: underline; /* Underline on hover */
}

.home {
  font-size: 24px;
  font-weight: bold;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.hello {
  color: #fdd247;
}

.title {
  font-size: 100px;
}

.sub-title {
  font-size: 45px;
}

.name {
  color: #fdd247;
}

.profile-pic {
  max-width: 600px;
  height: auto;
}
